<script lang="ts">
	export let href: string = '';
	export let target: string = '_self';
	let popupVisible: boolean = false;

	function getDomain(url: string): string {
		const domain: string = new URL(url).hostname.replace('www.', '');
		return domain;
	}

	function handleLinkClick(event: MouseEvent): void {
		if (href && !href.startsWith(window.location.origin)) {
			event.preventDefault();
			popupVisible = true;
		}
	}

	function confirmNavigation(): void {
		window.open(href, target);
		popupVisible = false;
	}

	function cancelNavigation(): void {
		popupVisible = false;
	}
</script>

<a
	{href}
	{target}
	rel="noopener noreferrer"
	class="external"
	on:click={handleLinkClick}
	aria-describedby="link-description"
	aria-label="{getDomain(href)} (opens in new tab)"
>
	<slot></slot>
</a>

{#if popupVisible}
	<div class="backdrop">
		<div
			class="popup"
			role="alertdialog"
			aria-modal="true"
			aria-labelledby="dialog-title"
			aria-describedby="dialog-desc"
		>
			<h2 id="dialog-title">You are about to leave our site</h2>
			<p id="dialog-desc">
				You are being redirected to <strong>{getDomain(href)}</strong>. Do you wish to continue?
			</p>
			<button on:click={confirmNavigation}>Yes</button>
			<button on:click={cancelNavigation}>No</button>
		</div>
	</div>
{/if}

<style>
	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 99;
	}

	.popup {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 20px;
		border: 1px solid black;
		z-index: 100;
	}

	.external {
		color: var(--md-sys-color-on-primary);
	}

	.external:visited {
		color: var(--md-sys-color-on-tertiary);
	}

	.external:after {
		content: '';
		display: inline-flex;
		height: 16px;
		width: 16px;
		margin-left: 1px;
		vertical-align: text-top;
		content: 'open_in_new';
		font-family: 'Material Icons Outlined';
	}
</style>
