<script lang="ts">
	import { onMount, tick } from 'svelte';
	import type { KeyboardEvent, FocusEvent } from 'svelte';

	let isVisible: boolean = false;
	let firstTabPress: boolean = false;
	let buttonElement: HTMLButtonElement;

	onMount(() => {
		function handleFirstTab(e: KeyboardEvent) {
			if (e.key === 'Tab' && !firstTabPress) {
				isVisible = true;
				firstTabPress = true;
				e.preventDefault();

				tick().then(() => {
					buttonElement.focus();
				});
			}
		}

		function handleFocusOut(e: FocusEvent) {
			if (buttonElement && !buttonElement.contains(e.relatedTarget as Node)) {
				isVisible = false;
			}
		}

		window.addEventListener('keydown', handleFirstTab);
		window.addEventListener('focusout', handleFocusOut);

		return () => {
			window.removeEventListener('keydown', handleFirstTab);
			window.removeEventListener('focusout', handleFocusOut);
		};
	});

	function skipToContent() {
		const mainContent = document.getElementsByTagName('main')[0];
		if (mainContent) {
			mainContent.focus();
		}
		isVisible = false;
	}
</script>

{#if isVisible}
	<div class="skip-link">
		<button bind:this={buttonElement} on:click={skipToContent}>Skip to main content</button>
	</div>
{/if}

<style>
	.skip-link {
		position: absolute;
		top: 0;
		left: 0;
		background: white;
		padding: 10px;
		border: 1px solid black;
		z-index: 1000;
	}
</style>
