<script lang="ts">
	import { onMount } from 'svelte';
	import type { MouseEvent } from 'svelte';

	interface Button {
		text: string;
		handler: (event: MouseEvent) => void;
	}

	export interface ToastType {
		id: string;
		index: number;
		message: string;
		count: number;
		progress: number;
		running: boolean;
		priority: number;
		duration: number;
		dimensions: {
			width: number;
			height: number;
		};
		position: {
			x: number;
			y: number;
		};
		color: string;
		buttons?: Button[];
		pauseOnHover: boolean;
		timestamp: number;
		updateToastsPositions: (index: number) => void;
	}

	export let toast: ToastType;
	let toastElement: HTMLElement;

	onMount(() => {
		toast.dimensions = {
			width: toastElement.offsetWidth,
			height: toastElement.offsetHeight,
		};
		toast.updateToastsPositions(toast.index);
	});

	function handleMouseEnter() {
		if (toast.pauseOnHover) {
			toast.running = false;
		}
	}

	function handleMouseLeave() {
		if (toast.pauseOnHover) {
			toast.running = true;
		}
	}
</script>

<output
	class="toast"
	bind:this={toastElement}
	style="background-color: {toast.color}; 
           left: {toast.position.x + 'px'}; 
           top: {toast.position.y + 'px'};
           z-index: {toast.priority};"
	onmouseenter={handleMouseEnter}
	onmouseleave={handleMouseLeave}
	role="alert"
	aria-live="polite"
	aria-atomic="true"
>
	<div>{@html toast.message}</div>
	{#if toast.count > 1}x{toast.count}{/if}
	{#if toast.buttons}
		{#each toast.buttons as button}
			<button onclick={button.handler}>{button.text}</button>
		{/each}
	{/if}
	<div class="progress-bar" style="width: {toast.progress}%"></div>
</output>

<style>
	.toast {
		position: fixed;
		max-width: 90%;
		padding: 10px;
		color: #fff;
		border-radius: 4px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		overflow-wrap: break-word;
	}
	button {
		margin-left: 10px;
		background: none;
		border: none;
		color: #fff;
		cursor: pointer;
	}
	.progress-bar {
		height: 5px;
		background-color: #fff;
	}
</style>
