---
import Default from '../layouts/default.astro';
import KeyboardNavigation from '@svelte-blueprint/svelte-components/utils/keyboardNavigation.svelte';
import AudioInitializer from '@svelte-blueprint/svelte-components/utils/audioInitializer.svelte';
import { FlatButtonComponent } from '@svelte-blueprint/angular-components/default/buttons/flatButton.component.ts';
import { IconButtonComponent } from '@svelte-blueprint/angular-components/default/buttons/iconButton.component.ts';
import { BadgeTextComponent } from '@svelte-blueprint/angular-components/default/badgeText.component.ts';
import { MobileToolbar } from '@svelte-blueprint/angular-components/custom/mobileToolbar/mobileToolbar.component.ts';
import { DesktopToolbar } from '@svelte-blueprint/angular-components/custom/desktopToolbar/desktopToolbar.component.ts';
import ExternalLink from '@svelte-blueprint/svelte-components/utils/externalLink.svelte';

const data = Astro.locals;
export const prerender = false;
---

<Default title="Index" , description="Index" , keywords="Index">
	<AudioInitializer client:load />
	<KeyboardNavigation client:idle />

	<MobileToolbar
		title="Svelte-Blueprint"
		navList={[
			{ label: 'Home', icon: 'home', active: true },
			{ label: 'Settings', icon: 'settings', active: false },
			{ label: 'Logout', icon: 'logout', active: false },
		]}
		iconList={['more_vert']}
		isDesktopDevice={data.isDesktopDevice}
		client:visible
	/>
	<DesktopToolbar
		title="Svelte-Blueprint"
		navList={['Home', 'Settings', 'Logout']}
		iconList={['person']}
		client:visible
	/>

	<FlatButtonComponent text="Oui" client:idle />
	<IconButtonComponent fontIcon="delete" client:idle />
	<ExternalLink href="https://discord.gg/KfJYAfnuUM" target="_blank">Laizo's Discord</ExternalLink>
	<ExternalLink href="https://discord.gg/rT7e7C5fhz" target="_blank">Neïl's Discord</ExternalLink>

	<BadgeTextComponent content="4" badgeContent="3" client:idle />
</Default>
