@media (min-width: 1025px) {
	.mobile-toolbar {
		display: none;
	}
}
.mobile-toolbar app-icon-button {
	margin-left: 10px;
}
.mobile-toolbar .top-toolbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
}
.mobile-toolbar .bottom-toolbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-bottom: 13px;
	display: flex;
	justify-content: space-around;
}
.mobile-toolbar a {
	display: flex;
	height: 50px;
	flex-direction: column;
	justify-content: center;
}
.mobile-toolbar a mat-icon {
	margin-left: 7px;
}
