@use '@angular/material' as mat;

@mixin theme($theme) {
	.desktop-toolbar {
		background: mat.get-theme-color($theme, primary-container);
	}
	.desktop-toolbar app-icon-button {
		@include mat.icon-color($theme, $color-variant: primary);
	}
	.desktop-toolbar h1 {
		color: mat.get-theme-color($theme, on-primary-container);
	}
}
