.desktop-toolbar {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 1024px) {
	.desktop-toolbar {
		display: none;
	}
}
.desktop-toolbar app-icon-button {
	margin-left: 10px;
}
.desktop-toolbar app-flat-anchor {
	margin: 0 10px;
}
