<script lang="ts">
	import { onMount } from 'svelte';

	import { requestPermission } from '$lib/firebase.config.mts';

	import { mainToastStore } from '$lib/serviceProviders.mts';

	import Toast from '@svelte-blueprint/components/utils/toast.svelte';

	// import { onMount } from 'svelte';

	// import { mainToastStore } from '$lib/serviceProviders.mts';
	import { badgeManager } from '$lib/badgeManager.mts';
	// import { audioManager } from '$lib/audioManager.mts';
	import { vibrationManager } from '$lib/vibrationManager.mts';

	import * as m from '$paraglide/messages.js';

	let toast;

	function handlePlayPause() {
		if (audioManager.isPlaying) {
			audioManager.pause();
		} else {
			audioManager.play();
		}
	}

	function showSuccessToast() {
		toast = mainToastStore.addToast({
			message: 'Action réussie!',
			color: '#48C774',
			duration: 5000,
			buttons: [
				{ text: 'Undo', handler: () => alert('Undo Action') },
				{ text: 'Close', handler: () => mainToastStore.removeToast(toast) },
			],
			pauseOnHover: false,
		});
	}

	function showWarningToast() {
		toast = mainToastStore.addToast({
			message: "<strong>Attention</strong> C'est pas bien ça",
			color: '#FFDD57',
			duration: 1000,
			priority: 100,
			buttons: [{ text: 'OH NO', handler: () => alert("You're banned") }],
			pauseOnHover: true,
		});
	}

	function editToast() {
		mainToastStore.updateToast(toast, {
			message: "Ouais non c'est bon en fait",
			color: '#FC8EAC',
			duration: 10000,
			priority: 130,
			buttons: [{ text: '<3', handler: () => alert('Coucou') }],
			pauseOnHover: true,
		});
	}

	function AddAppBadge() {
		badgeManager.incrementBadge();
	}

	function RemoveAppBadge() {
		badgeManager.decrementBadge();
	}

	onMount(() => {
		window.addEventListener(
			'click',
			() => {
				// audioManager.loadAudioFromUrl('click', '/media/sound/button.m4a');
			},
			{ once: true },
		);
	});

	function handleClick() {
		// audioManager.playSound('click');
		vibrationManager.startVibrate(500);
	}
</script>

<KeyboardNavigation />
<main tabindex="-1">
	<h1>{m.welcome()}</h1>

	<p>
		Visit <ExternalLink href="https://kit.svelte.dev" target="_blank">kit.svelte.dev</ExternalLink> to
		read the documentation
	</p>
	<md-filled-button onclick={showSuccessToast}>Show Success Toast</md-filled-button>
	<md-filled-button onclick={showWarningToast}>Don't click!</md-filled-button>
	<md-filled-button onclick={editToast}>Well you can click</md-filled-button>

	<md-filled-button onclick={requestPermission}>Notif perm</md-filled-button>

	<md-filled-button onclick={AddAppBadge}>app badge</md-filled-button>
	<md-filled-button onclick={RemoveAppBadge}>remove app Badge</md-filled-button>

	<md-filled-button onclick={handleClick}>Sound and Haptics</md-filled-button>
</main>

{#each mainToastStore.toasts as toast (toast.id)}
	<Toast {toast} />
{/each}
