@charset "UTF-8";

@use '@angular/material' as mat;
@use 'styles/m3-theme.scss' as theme;
@use '@svelte-blueprint/angular-components/custom/desktopToolbar/_desktopToolbar-theme.scss' as
	desktopToolbar;
@use '@svelte-blueprint/angular-components/custom/mobileToolbar/_mobileToolbar-theme.scss' as
	mobileToolbar;

@import 'material-icons/iconfont/outlined.css';
@import 'material-icons/iconfont/filled.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	min-height: calc(100% + env(safe-area-inset-top));
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
		env(safe-area-inset-left);

	$theme: theme.$dark-theme;
	@include mat.system-level-colors($theme);
	@include mat.system-level-typography($theme);
	@include mat.color-variants-backwards-compatibility($theme);

	@include mat.all-component-themes($theme);

	@media (prefers-color-scheme: light) {
		$theme: theme.$light-theme;
		@include mat.system-level-colors($theme);
		@include mat.system-level-typography($theme);

		@include mat.all-component-colors($theme);
	}
}

:root {
	$theme: theme.$dark-theme;
	@include mobileToolbar.theme($theme);
	@include desktopToolbar.theme($theme);

	@media (prefers-color-scheme: light) {
		$theme: theme.$light-theme;
		@include mobileToolbar.theme($theme);
		@include desktopToolbar.theme($theme);
	}
}

@include mat.core();
