---
import { pwaInfo } from 'virtual:pwa-info';
import { pwaAssetsHead } from 'virtual:pwa-assets/head';

import '../style.scss';

export interface Props {
	title: string;
	description: string;
	keywords: string;
}

const { title, description, keywords } = Astro.props as Props;
export const prerender = false;
---

<!doctype html>
<html lang={Astro.locals.paraglide.lang} dir={Astro.locals.paraglide.dir}>
	<head>
		<meta charset="utf-8" />

		<link rel="apple-touch-icon" sizes="180x180" href="/media/apple/apple-touch-icon.png" />
		<link rel="apple-touch-startup-image" href="/media/apple/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png" />
		<link rel="mask-icon" href="/media/safari/safari-pinned-tab.svg" color="#2683db" />
		<link rel="shortcut icon" href="/media/favicon/favicon.ico" />
		<meta name="msapplication-TileColor" content="#2683db" />
		<meta name="msapplication-TileImage" content="/media/mstile/mstile-144x144.png" />
		<meta name="msapplication-config" content="/browserconfig.xml" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" viewport-fit="cover" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		{pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
		{
			pwaAssetsHead.themeColor && (
				<meta name="theme-color" content={pwaAssetsHead.themeColor.content} />
			)
		}
		{pwaAssetsHead.links.map(link => <link {...link} />)}
	</head>
	<body class="mat-app-background">
		<script>
			import '$lib/pwaManager.mjs';
			import '$lib/trusted-types-policy.mjs';
		</script>
		<slot />
	</body>
</html>
